<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h3>Footer</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, veniam doloremque minima neque omnis aliquid impedit iste eius fugiat non, saepe odio reprehenderit maiores porro reiciendis optio culpa laborum nostrum.
    Tempore veritatis officiis eos adipisci assumenda mollitia dolorem ex ratione beatae voluptatibus accusantium nemo nihil qui dolorum, natus reprehenderit iusto veniam! Eligendi veritatis omnis labore placeat fuga in quis debitis.
    Magni beatae aut sapiente nostrum rem nesciunt vero aperiam? Illo perferendis earum possimus quis corporis dolorem temporibus? Magnam veritatis sit et officiis beatae, repudiandae, voluptatem numquam enim, accusantium nihil eligendi?</p>
  </body>
</html>